:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  --color-a: rgba(0, 0, 0, 0.87);
  --background-color-1: #f6fff8;
  --background-color-2: #57cc99;

  --font-size-p: 16px;
  --font-size-h1: 40px;
  --font-size-h2: 25px;

  --gap: 2rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Estilos para el cabecero */
h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

a {
  color: var(--color);
}

p {
  font-size: var(--font-size-p);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

header > nav > ul > li > a:hover {
  color: #9d4edd;
}

header > .active {
  display: none;
}

.open-menu,
.close-menu {
  display: none;
}

body {
  background-color: var(--background-color-1);
}

.nav-ul {
  display: flex;
  gap: 1rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.title > img {
  width: 60px;
  height: 50px;
}

.icons {
  display: flex;
  gap: var(--gap);
}

.icons > .imgs {
  gap: 0.75rem;
  display: flex;
}

.icons > div > a {
  padding: 10px 30px;
  border-radius: 8px;
  border: grey;
  background-color: #e4c1f9;
  color: #9d4edd;
  font-weight: 600;
}

main {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

main > .background > img {
  width: 1000px;
  height: auto;
  border-radius: 8px;
}

main > .heading-img {
  display: none;
}

main > .news > .rate-stars {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

main > .news > .rate-stars > .stars {
  margin-bottom: 10px;
}

main > .news > .rate-stars > span {
  background-color: #e4c1f9;
  color: #9d4edd;
  font-weight: 600;
  padding: 8px 25px;
  border-radius: 20px;
}

main > .news {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.stars {
  display: flex;
}

main > .news > .title-news {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news > .marks {
  display: flex;
  align-items: center;
  gap: 0.85rem;
}

.news > .marks > .check-marks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news > .marks > .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news > .cta {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.news > .cta > .cta1 {
  padding: 16px 20px;
  border-radius: 10px;
  border: none;
  background-color: #57cc99;
  color: whitesmoke;
}

.news > .cta > .cta2 {
  align-items: center;
  display: flex;
  padding: 16px 20px;
  background: none;
  border: none;
  gap: 0.5rem;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content > .img-content {
  display: flex;
  gap: var(--gap);
  width: 1000px;
}

#app {
  display: flex;
  margin: 30px;
  justify-content: space-between;
}

#app > .filter {
  width: 240px;
  height: 500px;
  padding: 30px;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  margin-top: 200px;
  background-color: #dafaec;
  border-radius: 10px;
  position: sticky;
}

.filter > select {
  background-color: whitesmoke;
  color: black;
  font-weight: 600;
  border-radius: 4px;
  text-align: center;
  padding: 4px;
}

.filter > input {
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid black;
  color: black;
  text-align: center;
}

.filter > button {
  background-color: var(--color-a);
  color: var(--background-color-1);
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 4px;
  border: none;
}

.filter > button:hover {
  background-color: #efe0f7;
  color: var(--color-a);
  cursor: pointer;
  transition: 0.25s;
}

#app > .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: var(--gap);
}

.product > img {
  height: 500px;
  width: fit-content;
  border-radius: 8px;
}

.product > img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.products > .message {
  font-size: 40px;
  position: absolute;
  margin-right: 1300px;
  background-color: #dafaec;
  text-align: center;
  width: 500px;
  border-radius: 10px;
}

#customize {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 140px;
}

#customize > .text-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 500px;
}

#customize > .text-info > a {
  background-color: #57cc99;
  padding: 15px 18px;
  border-radius: 8px;
  width: 130px;
  color: whitesmoke;
  font-weight: 600;
}

#customize > article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dafaec;
  padding: 30px;
  border-radius: 10px;
  gap: var(--gap);
}

#customize > article > div {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

#customize > article > div > a {
  background-color: #57cc99;
  padding: 15px 18px;
  border-radius: 8px;
  width: 200px;
  color: whitesmoke;
  font-weight: 600;
}

#customize > article > .custom-img > img {
  height: 300px;
  width: fit-content;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  background-color: white;
}

footer > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer > .location {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer > .newsletter {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

footer > .newsletter > input {
  background-color: rgb(235, 233, 233);
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
}

footer > .newsletter > button {
  background-color: #57cc99;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
}

/* Estilos responsive */
@media (min-width: 320px) and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }

  header {
    flex-direction: column;
  }

  header > .icons {
    display: none;
  }

  .nav {
    position: absolute;
    visibility: hidden;
    display: flex;
    margin-top: 200px;
    width: 400px;
    justify-content: center;
    border-radius: 10px;
    padding: 6px;
    font-size: 15px;
    background-color: rgba(202, 201, 201, 0.295);
  }

  .visible {
    visibility: visible;
  }

  .open-menu {
    display: block;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-size: 1.4rem;
    position: absolute;
    margin-top: 130px;
    color: white;
    background-color: var(--color-a);
  }
  .close-menu {
    display: block;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-size: 1.4rem;
    position: absolute;
    margin-left: 85%;
    margin-top: 12px;
    color: black;
    background-color: whitesmoke;
  }

  .title > img {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  main > .background > img {
    display: none;
  }

  main > .heading-img > img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    visibility: visible;
  }

  .products > .product > img {
    width: 250px;
    height: auto;
  }

  .news > .rate-stars {
    flex-direction: column;
  }

  .title-news {
    flex-direction: column;
    text-align: center;
  }

  .cta {
    flex-direction: column;
  }

  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #app > .filter {
    display: grid;
    background-color: var(--background-color-1);
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1.5rem;
  }

  #app > .filter > button {
    background-color: #57cc99;
  }

  .product {
    text-align: center;
  }

  .products {
    text-align: center;
  }

  .products > .message {
    width: auto;
    font-size: 18px;
    margin-left: 90px;
  }

  .hidden {
    visibility: hidden;
  }

  #customize {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: -100px;
  }

  #customize > .text-info {
    text-align: center;
    align-items: center;
    width: 400px;
  }

  #customize > article {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 400px;
  }

  #customize > article > .custom-img > img {
    width: 200px;
    height: auto;
  }

  #customize > article > div {
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}

@media (min-width: 830px) and (max-width: 1200px) {
  main {
    flex-direction: column;
  }

  #customize {
    gap: 2rem;
    display: flex;
  }

  #customize > article {
    flex-direction: column;
  }

  #customize > article > div {
    align-items: center;
    text-align: center;
  }

  #customize > article > .custom-img > img {
    height: 350px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  header > .icons {
    display: none;
  }

  header > .nav > .nav-ul > li > a {
    font-size: 30px;
  }

  main {
    flex-direction: column;
    text-align: center;
  }

  main > .news {
    align-items: center;
  }

  main > .background > img {
    height: 450px;
  }

  #app {
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
  }

  #app > .filter {
    width: 50%;
  }

  #app > .products {
    grid-template-columns: 1fr 1fr;
  }

  .product > img {
    width: 300px;
    height: fit-content;
  }

  #customize {
    flex-direction: column;
    gap: var(--gap);
    margin-top: -100px;
  }

  footer {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
}
